<!DOCTYPE html>
<html ng-app="passagem-servico">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Passagem de serviço </title>
    <link rel="stylesheet" href="css/sc-uikit.css">
    <link rel="stylesheet" href="css/sc-icons.css">
    <link rel="stylesheet" href="css/passagemserv.css">
    <link rel="stylesheet" href="css/sc-responsivo.css">
  </head>
  <body ng-controller="PassagemServicoCtrl">

    <section id="top-bar" style="height: 52px;">
      <section id="top-bar-content" class="fix">
        <div class="flex-row">
          <div class="left sc-p-r-lg">
            <button ng-click="novaPassagemCtrl.novaPassagem()" class="sc-btn sc-btn-green" type="button">Nova Passagem</button>
          </div>
          <div class="sc-p-r-lg fcol-xs-auto fcol-sm-50 fcol-lg-33">
            <form class="sc-input-group">
              <input class="sc-input-default" type="text">
              <button class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-lupa-2"></i></button>
              <button ng-click="filtroCtrl.abrirFiltroAvancado()" class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-filtro-2"></i></button>
              <button class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-impressora"></i></button>
            </form>
          </div>
          <div class="fcol-xs-auto hidden-xs"></div>
          <div class="fcol-xs-3em">
            <span class="sc-dropdown pull-right">
              <div class="sc-relative">
                <button class="sc-btn sc-btn-grey" ng-click="menuAdmCtrl.toggleMenu()" type="button">
                  <i class="sc-icon sc-icon-reticiencias-v"></i>
                </button>
              </div>
              <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menuAdmCtrl.menuOpen" style="display: block;">
                <li ng-click="perfilCtrl.init()">
                  <span>Perfil Checklist</span>
                </li>
                <li ng-click="menuAdmCtrl.abrirModalLog()">
                  <span>Histórico</span>
                </li>
              </ul>
            </span>
          </div>
        </div>
        <div id="top-bar-filter">
          <div class="sc-panel sc-p-lg ng-animation-slider" ng-if="filtroCtrl.avancado" style="display: block;">
            <div ng-include="'templates/filtro.html'"></div>
          </div>
        </div>
      </section>
    </section>
    <section id="breadcrumb"><a>Início</a> / Portaria / Passagem de Serviço</section>

    <div id="passagem-servico">
      <section class="sc-bg-white">
        <div>
          <ul multi-check-group class="sc-accordion">
            <li class="sc-p-t-xl" style="border-top: none; border-bottom: 1px solid #e2e2e2;">
              <div class="flex-row sc-text-gray">
                <div class="fcol-xs-3em align-center" sc-stop-click>
                  <input ng-click="passagens.selectAll()" ng-checked="passagens.allSelected" class="sc-checkbox sc-checkbox-blue" type="checkbox">
                </div>
                <div class="sc-p-v-md fcol-xs-auto sc-text-medium">Saiu</div>
                <div class="sc-p-v-md fcol-xs-auto sc-text-medium">Entrou</div>
                <div class="sc-p-v-md fcol-xs-auto sc-text-medium hidden-xs">Data da passagem</div>
                <div class="sc-p-v-md fcol-xs-auto sc-text-medium">Status</div>
                <div class="sc-p-md fcol-xs-3m"></div>
              </div>
            </li>
            <li ng-repeat="passagem in listCtrl.list" ng-init="itemCtrl.init(passagem)">
              <div class="sc-accordion-head flex-row sc-text-gray" ng-click="itemCtrl.accToggle(passagem)">
                <label class="fcol-xs-3em align-center">
                  <input multi-check class="sc-checkbox sc-checkbox-blue" ng-model="passagem.checked" type="checkbox">
                </label>
                <div class="fcol-xs-auto">
                  <div class="icone seta-vermelha"></div>
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-blue">{{passagem.saiu || 'Nova Passagem'}}</div>
                </div>
                <div class="fcol-xs-auto">
                  <div class="icone seta-verde"></div>
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-blue">{{passagem.entrou}}</div>
                </div>
                <div class="fcol-xs-auto hidden-xs">
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-blue">{{passagem.data | date: "dd/MM/yyyy" }}</div>
                </div>
                <div class="fcol-xs-auto">
                  <span class="sc-border-radius sc-text-white sc-p-v-xs sc-p-h-lg align-center sc-text-md" ng-class="{'sc-bg-green': '{{passagem.status}}' == 'Realizada', 'sc-bg-yellow': '{{passagem.status}}' == 'Pendente'}">{{passagem.status}}</span>
                </div>
                <div class="fcol-xs-3em align-center" sc-stop-click>
                  <div class="sc-dropdown" ng-click="passagem.menu.toggle()">
                    <i class="sc-badge-hover-gray sc-icon-reticiencias-v" ng-class="{'sc-badge-active': passagem.menu.opened}"></i>
                    <ul class="sc-dropdown-menu ng-animation-slider pull-right" ng-show="passagem.menu.opened" style="display: block;">
                      <li>
                        <span>Passar serviço</span>
                      </li>
                      <li ng-click="passagem.edit.toggle()">
                        <span>Editar</span>
                      </li>
                      <li>
                        <span>Duplicar passagem</span>
                      </li>
                      <li>
                        <span>Desativar</span>
                      </li>
                      <li>
                        <span>Excluir</span>
                      </li>
                      <li>
                        <span>Histórico</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="sc-accordion-body ng-animation-slider" ng-show="passagem.acc.opened">
                <div ng-if="!passagem.edit.opened">
                  <div ng-include="'templates/show.html'"></div>
                </div>

                <div ng-if="passagem.edit.opened">
                  <div ng-include="'templates/form.html'"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <div ng-include="'templates/perfil-passagens.html'" ng-if="perfilCtrl.modal.active"></div>
      <div ng-include="'templates/log.html'" ng-if="menuAdmCtrl.logOpen"></div>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

    <script type="text/javascript" src="js/sc-uikit.js"></script>
    <script type="text/javascript" src="js/sc-responsivo.js"></script>
    <script type="text/javascript" src="index.js"></script>

  </body>
</html>