<!DOCTYPE html>
<html ng-app="passagem-servico">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Passagem de serviço </title>
    <link rel="stylesheet" href="css/sc-uikit.css">
    <link rel="stylesheet" href="css/sc-icons.css">
    <link rel="stylesheet" href="css/passagemserv.css">
    <link rel="stylesheet" href="css/sc-responsivo.css">
  </head>
  <body ng-controller="PassagemServico::IndexCtrl">

    <section id="top-bar" style="height: 52px;">
      <section id="top-bar-content" class="fix">
        <div class="flex-row">
          <div class="left sc-p-r-lg">
            <button ng-click="formCtrl.novaPassagem()" class="sc-btn sc-btn-green" type="button">
              <span class="hidden-xs">Nova Passagem</span>
              <span class="visible-xs"><i class="sc-icon sc-icon-mais-1"></i></span>
            </button>
          </div>
          <div class="sc-p-r-lg fcol-xs-auto fcol-sm-50 fcol-lg-33">
            <form class="sc-input-group">
              <input class="sc-input-default" type="text">
              <button class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-lupa-2"></i></button>
              <button ng-click="filtroCtrl.abrirFiltroAvancado()" class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-filtro-2"></i></button>
              <button class="sc-btn sc-btn-blue" type="button"><i class="sc-icon sc-icon-impressora"></i></button>
            </form>
          </div>
          <div class="fcol-xs-auto hidden-xs"></div>
          <div class="fcol-xs-3em">
            <span class="sc-dropdown pull-right">
              <div class="sc-relative">
                <button class="sc-btn sc-btn-grey" ng-click="menuAdmCtrl.toggleMenu()" type="button">
                  <i class="sc-icon sc-icon-reticiencias-v"></i>
                </button>
              </div>
              <ul class="sc-dropdown-menu ng-animation-slider" ng-show="menuAdmCtrl.menuOpen" style="display: block;">
                <li ng-click="perfilCtrl.modalToggle()">
                  <span>Perfis de passagem</span>
                </li>
                <li ng-click="menuAdmCtrl.abrirModalLog()">
                  <span>Histórico</span>
                </li>
              </ul>
            </span>
          </div>
        </div>
        <div id="top-bar-filter">
          <div class="sc-panel sc-p-lg ng-animation-slider" ng-if="filtroCtrl.avancado" style="display: block;">
            <div ng-include="'templates/filtro.html'"></div>
          </div>
        </div>
      </section>
    </section>
    <section id="breadcrumb"><a>Início</a> / Portaria / Passagem de Serviço</section>

    <div id="passagem-servico">
      <section class="sc-bg-white">
        <div>
          <ul multi-check-group class="sc-accordion">
            <li class="sc-acc-blue sc-p-t-xl" style="border-top: none; border-bottom: 1px solid #e2e2e2;" ng-if="formCtrl.new">
              <div class="sc-accordion-head flex-row" ng-click="formCtrl.alerta()">
                <div class="sc-accordion-col-3 align-center">
                  <i class="sc-text-xl sc-icon-mais-1"></i>
                </div>
                <div class="fcol-xs-auto">
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-white">Nova passagem</div>
                </div>
              </div>
              <div class="sc-accordion-body ng-animation-slider">
                <div ng-include="'templates/form.html'"></div>
              </div>
            </li>
            <li class="sc-p-t-xl" style="border-top: none; border-bottom: 1px solid #e2e2e2;">
              <div class="flex-row sc-text-gray">
                <div class="fcol-xs-3em align-center" sc-stop-click>
                  <input ng-click="passagens.selectAll()" ng-checked="passagens.allSelected" class="sc-checkbox sc-checkbox-blue" type="checkbox">
                </div>
                <div class="sc-p-md fcol-xs-auto sc-ellipsis-inline">Saiu</div>
                <div class="sc-p-md fcol-xs-auto sc-ellipsis-inline">Entrou</div>
                <div class="sc-p-md fcol-xs-auto sc-ellipsis-inline hidden-xs">Data da passagem</div>
                <div class="sc-p-md fcol-xs-auto sc-ellipsis-inline">Status</div>
                <div class="sc-p-md fcol-xs-3m"></div>
              </div>
            </li>
            <li ng-repeat="passagem in listCtrl.list" ng-init="itemCtrl.init(passagem)" ng-class="{'sc-acc-blue': passagem.acc.opened}">
              <div class="sc-accordion-head flex-row sc-text-gray" ng-click="itemCtrl.accToggle(passagem)">
                <label class="fcol-xs-3em align-center">
                  <input multi-check class="sc-checkbox sc-checkbox-blue" ng-model="passagem.checked" type="checkbox">
                </label>
                <div class="fcol-xs-auto sc-p-md">
                  <div class="icone seta-vermelha"></div>
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-blue" ng-class="{'sc-text-white': passagem.acc.opened }">{{passagem.pessoa_saiu}}</div>
                </div>
                <div class="fcol-xs-auto sc-p-md">
                  <div class="icone seta-verde"></div>
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-blue" ng-class="{'sc-text-white': passagem.acc.opened }">{{passagem.pessoa_entrou}}</div>
                </div>
                <div class="fcol-xs-auto sc-p-md hidden-xs">
                  <div class="sc-ellipsis-inline sc-text-bold sc-text-blue" ng-class="{'sc-text-white': passagem.acc.opened }">{{passagem.data | date: "dd/MM/yyyy" }}</div>
                </div>
                <div class="fcol-xs-auto sc-p-md">
                  <span class="sc-border-radius sc-text-white sc-p-v-xs sc-p-h-lg align-center sc-text-md" ng-class="{'sc-bg-green': '{{passagem.status}}' == 'Realizada', 'sc-bg-yellow': '{{passagem.status}}' == 'Pendente'}">{{passagem.status}}</span>
                </div>
                <div class="fcol-xs-3em align-center" sc-stop-click>
                  <div class="sc-dropdown" ng-click="passagem.menu.toggle()">
                    <i class="sc-badge-hover-gray sc-icon-reticiencias-v" ng-class="{'sc-badge-active': passagem.menu.opened, 'sc-badge-hover-white': passagem.acc.opened}"></i>
                    <ul class="sc-dropdown-menu ng-animation-slider pull-right" ng-show="passagem.menu.opened" style="display: block;">
                      <li ng-if="passagem.status == 'Pendente'">
                        <span>Passar serviço</span>
                      </li>
                      <li ng-click="passagem.edit.toggle()">
                        <span>Editar</span>
                      </li>
                      <li ng-click="itemCtrl.duplicate(passagem)">
                        <span>Duplicar passagem</span>
                      </li>
                      <li ng-click="itemCtrl.disable(passagem)">
                        <span>Desativar</span>
                      </li>
                      <li ng-click="itemCtrl.rmv()">
                        <span>Excluir</span>
                      </li>
                      <li ng-click="itemCtrl.showLog(passagem)">
                        <span>Histórico</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="sc-accordion-body ng-animation-slider" ng-show="passagem.acc.opened || passagem.edit.opened">
                <div ng-if="!passagem.edit.opened">
                  <div ng-include="'templates/show.html'"></div>
                </div>

                <div ng-if="passagem.edit.opened" ng-init="formCtrl.init(passagem)">
                  <div ng-include="'templates/form.html'"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <div ng-include="'templates/perfil-passagens.html'" ng-if="perfilCtrl.modal.active"></div>
      <div ng-include="'templates/log.html'" ng-if="menuAdmCtrl.logOpen"></div>
    </div>

    <div id="diretivas">
      <!-- scAlert -->
      <div ng-cloak class="sc-alert ng-cloak" ng-show="scAlert.toggler.opened" ng-class="{'active': scAlert.toggler.opened, 'sc-alert-danger': scAlert.danger, 'sc-alert-warning': scAlert.warning}">
        <div class="sc-alert-box sc-box-shadow-z3">
          <div class="sc-alert-close"><i ng-click="scAlert.close()" class="sc-badge-hover-red sc-icon-fechar-1 sc-cursor-pointer"></i></div>
          <h2 class="sc-alert-title" ng-bind-html="scAlert.title | nl2br"></h2>
          <div class="sc-alert-messages align-{{scAlert.messagesAlign}}" ng-show="scAlert.messages.length">
            <p ng-repeat="msg in scAlert.messages track by $index" ng-bind-html-unsafe="msg | nl2br">{{msg.msg}}</p>
          </div>
          <div class="sc-alert-inputs" ng-class="{'sc-p-t-xl sc-p-b-sm': scAlert.inputs.length}">
            <div ng-repeat="input in scAlert.inputs track by $index" style="display: inline">
              <label>
                <div class="sc-label">{{input.label}}</div>
                <input ng-if="input.type != 'date'" ng-required="input.required" type="{{input.type || 'text'}}" ng-model="input.value" class="sc-input-default">
                <input ng-if="input.type == 'date'" ng-required="input.required" sc-date-input ng-model="input.value" class="sc-input-default">
              </label>
            </div>
          </div>
          <div class="sc-alert-buttons">
            <div ng-repeat="btn in scAlert.buttons" style="display: inline">
              <button ng-if="!(btn.url || btn.href)"
                sc-tooltip="{{btn.tooltip}}"
                type="button"
                class="sc-btn sc-btn-{{btn.color}} sc-btn-block-only-xs sc-alert-button-focus"
                ng-click="scAlert.btnAction(btn)">{{btn.label || commonsLocale.labels.ok}}</button>

              <a ng-if="btn.url || btn.href"
                ng-click="scAlert.btnAction(btn)"
                tabindex="0"
                class="sc-btn sc-btn-{{btn.color}} sc-btn-block-only-xs sc-alert-button-focus"
                ng-href="{{btn.url || btn.href}}"
                ng-attr-target="{{btn.target}}">{{btn.label}}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- scTopMessages -->
      <div class="sc-top-messages ng-cloak ng-animation-slider" ng-class="scTopMessages.theme" ng-click="scTopMessages.close()" ng-cloak="" ng-if="scTopMessages.toggler.opened"><div class="sc-text-white align-center sc-text-shadow-dark flex align-items-center"><div class="sc-top-messages-msgs sc-cursor-default"><p ng-repeat="msg in scTopMessages.messages track by $index">{{msg}}</p></div><div class="sc-top-messages-close-button"><i class="sc-icon-fechar-1 sc-cursor-pointer"></i></div></div></div>

    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

    <script type="text/javascript" src="js/sc-uikit.js"></script>
    <!-- <script type="text/javascript" src="js/sc-responsivo.js"></script> -->
    <script type="text/javascript" src="index.js"></script>

  </body>
</html>