<form ng-submit="filtroCtrl.buscarPassagem()" autocomplete="nope">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
    <div>
      <div class="sc-label">Quem sai:</div>
      <div class="sc-input-group">
        <input class="sc-input-default sc-input-block" ng-model="filtroCtrl.params.quemSai" type="text" typeahead="porteiro as porteiro.nome" typeahead-combo="true" typeahead-editable="false" typeahead-multiple="true" typeahead-on-select="filtroCtrl.params.set(filtro.params.quemSai)" aria-autocomplete="list" autocomplete="nope" aria-expanded="false" aria-owns="type">
        <button class="sc-btn sc-btn-blue" type="button">
          <i class="sc-icon sc-icon-lupa-1"></i>
        </button>
        <button class="sc-btn sc-btn-default sc-relative" ng-click="filtro.quemSai.checked.length" type="button">
          <i class="sc-icon sc-icon-visto-1"></i>
          <span class="sc-badge sc-badge-fixed sc-bg-yellow ng-hide" ng-show="filtro.quemSai.checked.length"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
    <div>
      <div class="sc-label">Quem entra:</div>
      <div class="sc-input-group">
        <input class="sc-input-default sc-input-block" ng-model="filtroCtrl.params.quemEntra" type="text">
        <button class="sc-btn sc-btn-blue" type="button">
          <i class="sc-icon sc-icon-lupa-1"></i>
        </button>
        <button class="sc-btn sc-btn-default sc-relative" ng-click="filtro.quemEntra.checked.length" type="button">
          <i class="sc-icon sc-icon-visto-1"></i>
          <span class="sc-badge sc-badge-fixed sc-bg-yellow ng-hide" ng-show="filtro.quemEntra.checked.length">
        </button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
    <div class="sc-label">Status</div>
    <select class="sc-input-default sc-input-block" ng-model="filtroCtrl.params.status">
      <option value="">Todos</option>
      <option value="pendente" label="Pendente/ Em aberto">Pendente/A passar</option>
      <option value="realizada" label="Realizada">Realizada</option>
    </select>
  </div>
  <div id="periodo">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
      <div class="sc-label">Início</div>
      <input class="sc-input-default sc-input-block" date-input="date-input" ng-model="filtroCtrl.params.periodoInicial" max="3000-12-31" type="date">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
      <div class="sc-label">Fim</div>
      <input class="sc-input-default sc-input-block" date-input="date-input" ng-model="filtroCtrl.params.periodoFinal" max="3000-12-31" type="date">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
      <div class="sc-label">Tipo de Data:</div>
      <select class="sc-input-default sc-input-block" ng-model="filtroCtrl.params.tipoData">
        <option value="" class="" selected="selected">Todos</option>
        <option value="criadoEm" label="Criado em">Criado em</option>
        <option value="passadaEm" label="Passada em">Passada em</option>
      </select>
    </div>
  </div>
  <div class="clear"></div>
  <div class="ng-hide" ng-show="filtroCtrl.newFiltroPeriodo">
    <hr>
    <div class="" ng-repeat="data in filtroCtrl.params.datas">
      <div id="periodo">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
          <div class="sc-label">Início</div>
          <input class="sc-input-default sc-input-block" date-input="date-input" ng-model="filtroCtrl.newDataInicial" max="3000-12-31" type="date">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
          <div class="sc-label">Fim</div>
          <input class="sc-input-default sc-input-block" date-input="date-input" ng-model="filtroCtrl.newDataFinal" max="3000-12-31" type="date">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 sc-p-h-md sc-p-b-md">
          <div class="sc-label">Tipo de Data:</div>
          <select class="sc-input-default sc-input-block" ng-model="filtroCtrl.newTipoData">
            <option value="" class="" selected="selected">Todos</option>
            <option value="criadoEm" label="Criado em">Criado em</option>
            <option value="passadaEm" label="Passada em">Passada em</option>
          </select>
        </div>
        <div class="fcol-xs-default align-self-flex-end sc-p-h-md sc-p-b-md">
          <i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red sc-text-lg" ng-click="filtroCtrl.params.newPeriods.remove(data)"></i>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <button ng-click="filtroCtrl.buscar" class="sc-btn sc-btn-awesomeness sc-btn-blue sc-m-l-md" type="submit">
    <div class="sc-btn-icon"><i class="sc-icon sc-icon-lupa-1"></i></div>
    <div class="sc-btn-text">Aplicar</div>
  </button>
  <button ng-click="filtroCtrl.limparBusca()" class="sc-btn sc-btn-awesomeness sc-btn-red sc-m-l-md" type="button">
    <div class="sc-btn-icon"><i class="sc-icon sc-icon-fechar-1"></i></div>
    <div class="sc-btn-text">Limpar busca</div>
  </button>
  <button ng-click="filtroCtrl.addPeriodo()" class="sc-btn sc-btn-awesomeness sc-btn-green sc-m-l-md" type="button">
    <div class="sc-btn-icon"><i class="sc-icon sc-icon-calendario-2"></i></div>
    <div class="sc-btn-text">Adicionar Período</div>
  </button>
</form>