<form class="sc-p-t-md sc-p-h-lg" ng-init="passagem = (passagem || {}); formCtrl.init(passagem)">
	<!-- Geral -->
	<div class="sc-fieldset sc-m-t-o">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 sc-p-t-xl">
			<label>
				<div class="sc-label">Quem sai:</div>
				<select class="sc-input-default sc-input-block" ng-class="{'error': passagem.pessoa_saiu == '' }" ng-model="passagem.pessoa_saiu" ng-options="porteiro as porteiro.nome disable when porteiro.id === passagem.pessoa_entrou.id for porteiro in porteirosCtrl.porteirosList track by porteiro.id">
				</select>
			</label>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-2 sc-p-t-xl">
			<label>
				<div class="sc-label">Senha:</div>
				<input type="password" class="sc-input sc-input-default">
			</label>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4 sc-p-t-xl">
			<label>
				<div class="sc-label">Quem entra:</div>
				<select class="sc-input-default sc-input-block" ng-class="{'error': passagem.pessoa_entrou == '' }" ng-model="passagem.pessoa_entrou" ng-options="porteiro as porteiro.nome disable when porteiro.id === passagem.pessoa_saiu.id for porteiro in porteirosCtrl.porteirosList track by porteiro.id">
				</select>
			</label>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-2 sc-p-t-xl">
			<label>
				<div class="sc-label">Senha:</div>
				<input type="password" class="sc-input sc-input-default">
			</label>
		</div>
		<span class="col-xs-12 sc-p-t-xxxl sc-p-b-xl">
			Eu, <b>{{passagem.pessoa_saiu.nome}}</b> (que está saindo), passo o posto de serviço para o(a) <b>{{passagem.pessoa_entrou.nome}}</b> (que está entrando), de acordo com as informações abaixo:
		</span>

		<div class="col-xs-6 col-md-4 col-lg-6" style="max-width: 20em;">
			<label>
				<div class="sc-label">Perfil:</div>
				<select class="sc-input-default sc-input-block" ng-change="perfilCtrl.set(passagem)" ng-options="perfil as perfil.perfil disable when perfil.disabled for perfil in perfilCtrl.list track by perfil.id" ng-model="passagem.perfil">
				</select>
			</label>
		</div>
		<div class="clear"></div>
	</div>

	<!-- Categorias -->
	<div class="sc-fieldset">
		<div class="sc-fieldset-head">
			<span class="sc-label sc-text-xxl">Objetos</span>
			<button ng-click="formCtrl.addCategoria(passagem)" class="sc-btn sc-btn-green sc-btn-sm sc-btn-thin sc-m-l-lg" type="button">Adicionar Categoria</button>
		</div>

		<div>
			<div class="sc-fieldset" ng-repeat="categoria in passagem.objetos"> <!-- fieldset dos objetos -->
				<div class="sc-fieldset-head flex-row justify-items-center sc-text-sm">
					<div class="sc-text-sm">
						<div ng-if="!categoria.novaCategoria">
							<label class="sc-input-group" sc-stop-click>
								<select class="sc-input-default sc-input-block" ng-options="cat as cat.label disable when cat.disabled for cat in categoriasCtrl.list track by cat.id" ng-model="categoria.categoria">
									<option value="">Selecione ou cadastre</option>
								</select>
								<div class="sc-dropdown sc-btn sc-btn-default" ng-click="categoriasCtrl.showOptions(categoria)">
									<i class="sc-icon sc-icon-reticiencias-v"></i>
									<ul class="sc-dropdown-menu ng-animation-slider pull-right" ng-show="categoria.showOpts" style="display: block;">
										<li ng-click="categoriasCtrl.new(categoria)">
											<div>Nova categoria</div>
										</li>
										<li ng-click="categoriasCtrl.edit($index)">
											<div>Editar</div>
										</li>
										<li ng-click="categoriasCtrl.disable_enable(categoria)">
											<div>Desativar</div>
										</li>
										<li ng-click="categoriasCtrl.rmv($index)">
											<div>Excluir</div>
										</li>
									</ul>
								</div>
							</label>
						</div>
						<div ng-if="categoria.novaCategoria">
							<label class="sc-input-group">
								<input class="sc-input-default sc-input-block" ng-model="categoriasCtrl.newCategoria" type="text">
								<button class="sc-btn sc-btn-green" ng-click="categoriasCtrl.add()">
									<i class="sc-icon sc-icon-mais-1"></i>
								</button>
								<button class="sc-btn sc-btn-red" ng-click="categoriasCtrl.new(categoria)">
									<i class="sc-icon sc-icon-fechar-1"></i>
								</button>
							</label>
						</div>
					</div>

					<div class="sc-m-l-md">
						<i class="sc-icon sc-icon-mais-1 sc-badge-hover-green" ng-click="formCtrl.cadastrarItem(categoria)"></i>
					</div>
					<div class="sc-m-l-md">
						<i class="sc-icon sc-icon-lixeira-2 sc-badge-hover-red" ng-click="formCtrl.removerCategoria(passagem, $index)"></i>
					</div>
				</div>

				<div class="sc-p-t-xs">
					<ul>
						<li class="" ng-if="categoria.itens.length > 0">
							<div class="flex-row sc-p-v-md sc-label sc-text-blue">
								<div class="col-xs-3 col-md-1 col-sm-2 col-lg-1 sc-text-medium sc-label" style="max-width: 8em">Qtde</div>
								<div class="sc-p-l-md col-xs-auto sc-text-medium sc-label">Item</div>
							</div>
						</li>
						<li ng-repeat="item in categoria.itens" class="sc-p-b-sm">
							<div class="flex-row">
								<div class="col-xs-3 col-md-1 col-sm-2 col-lg-1" style="max-width: 8em;">
									<input class="fcol-md-90 sc-input-default sc-input-thin" ng-value="item.qtd" ng-model="item.qtd" type="number" min="0" max="999" style="max-width: 4.1em;">
								</div>
								<div class="sc-p-l-md fcol-xs-auto">
									<input class="sc-input-default sc-input-thin col-xs-9 col-md-6 col-lg-5" type="text" value="{{item.nome}}" ng-model="item.nome">
								</div>
								<div class="fcol-xs-1 align-right">
                  <i class="sc-icon sc-icon-lixeira-1 sc-badge-hover-red" ng-click="formCtrl.deleteItem(categoria, $index)"></i>
                </div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Categorias -->
	<div class="sc-fieldset sc-p-lg">
		<div class="sc-label sc-p-o">Observações:</div>
		<textarea class="sc-input sc-input-default sc-input-block" ng-value="passagem.obs" ng-model="passagem.detalhes" rows="5" cols="30"></textarea>
	</div>

	<div class="sc-p-t-md align-right">
		<button ng-if="passagem.status != 'Realizada'" class="sc-btn sc-btn-green sc-btn-block-only-xs sc-m-b-sm sc-m-l-md" ng-click="formCtrl.salvarEPassar(passagem)">Salvar e passar</button>
		<button class="sc-btn sc-btn-blue sc-btn-block-only-xs sc-m-b-sm sc-m-l-md" ng-click="formCtrl.salvar(passagem)">Salvar</button>
		<button class="sc-btn sc-btn-red sc-btn-block-only-xs sc-m-b-sm sc-m-l-md" ng-click="formCtrl.alerta(passagem)">Cancelar</button>
	</div>
</form>

