<div class="sc-panel" style="position: absolute; top: 52px; z-index: 100000;">
	<div class="sc-panel-body">
		<form ng-submit="submit()" class="flex-row">
			<div class="col-xs-12 col-md-12 sc-p-t-xl">
				<span class="criado_por infos_informativo">
					<b class="titulo">Criado por:</b>
					<span>{{porteiroAtual}}, em {{dataCriacao}}, às {{horaCriacao}} - {{diaCriacao}}.</span>
				</span>
			</div>
			<div class="clear"></div>
			<div class="col-xs-6 col-md-6 col-sm-6 col-xm-3 sc-p-t-xl">
				<label>
					<div class="sc-label">Quem sai:</div>
					<select class="sc-input-default sc-input-block" ng-model="passagem.saindo">
						<option ng-repeat="porteiro in porteirosCtrl.porteirosList" value="{{porteiro.nome}}" label="{{porteiro.nome}}">{{porteiro.nome}}</option>
					</select>
				</label>
				<label>
					<div class="sc-label">Senha:</div>
					<input type="password" class="sc-input sc-input-default" required>
				</label>
			</div>
			<div class="col-xs-6 col-md-6 col-sm-6 col-xm-3 sc-p-t-xl">
				<label>
					<div class="sc-label">Quem entra:</div>
					<select class="sc-input-default sc-input-block" ng-model="passagem.entrando">>
						<option ng-repeat="porteiro in porteirosCtrl.porteirosList" value="{{porteiro.nome}}" label="{{porteiro.nome}}">{{porteiro.nome}}</option>
					</select>
				</label>
				<label>
					<div class="sc-label">Senha:</div>
					<input type="password" class="sc-input sc-input-default" required>
				</label>
			</div>
			<span class="col-xs-12 sc-p-t-xl">
				Eu, {{passagem.saindo}} (que está saindo), passo o posto de serviço para o(a) {{passagem.entrando}} (que está entrando), de acordo com as informações abaixo:
			</span>
			<div class="col-xs-6 col-md-6 sc-p-t-xl">
				<label>
					<div class="sc-label">Checklist:</div>
					<select class="sc-input-default sc-input-block" ng-model="listaChecklist">
						<option ng-repeat="perfil in perfilCtrl.list" value="{{perfil.nome}}" label="{{perfil.nome}}">{{perfil.nome}}</option>
					</select>
				</label>
			</div>
			<div class="clear"></div>
			<div class="col-xs-12 sc-p-t-xl flex-row">
				<div class="col-xs-3">
					<h2 class="sc-label">Portaria Social{{checklist}}</h2>
				</div>
				<div class="col-xs-3">
					<button class="sc-btn sc-btn-green" type="button">Adicionar Categoria</button>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 sc-p-t-xl">
				<h3>{{categoria}}</h3>
				<button class="sc-btn sc-btn-green"><i class="sc-icon sc-icon-mais-2"></i></button>
				<div class="col-xs-12 col-md-6">
					<ul>
						<li class="sc-p-t-xl">
							<div class="flex-row sc-text-blue">
								<div class="sc-p-v-md sc-p-h-sc fcol-xs-3 sc-text-medium">Qtde</div>
								<div class="sc-p-v-md sc-p-h-sc fcol-xs-3 sc-text-medium">Item</div>
							</div>
						</li>
						<li ng-repeat="item in checklist.itens">
							<div class="flex-row">
								<label class="fcol-xs-3em align-center">
									<input class="sc-checkbox sc-checkbox-gray" ng-model="listItem.confere" type="checkbox">
								</label>
								<div class="fcol-xs-auto">
									<input class="sc-input sc-input-default" type="text" ng-model="listItem.qtde">
								</div>
								<div class="fcol-xs-auto"><
									<span>{{item.key}}</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			</div>
			<div class="col-xs-12 col-md-12 sc-p-t-xl">
				<label class="sc-label">Observações:</label>
				<textarea class="sc-input sc-input-default sc-input-block" ng-model="passagem.detalhes" rows="5" cols="30"></textarea>
			</div>
		</form>
	</div>
</div>
