<div class="" sc-modal="itemCtrl.modal">
	<div class="sc-modal-header">
		<i class="sc-modal-close sc-cursor-pointer sc-icon-fechar-1 sc-badge-hover-red" ng-click="itemCtrl.close(passagem)"></i>
	</div>
	<div class="sc-modal-body">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
			<label>
				<div class="sc-label">Quem entra:</div>
				<select class="sc-input-default sc-input-block" ng-class="{'error': passagem.pessoa_entrou == '' }" ng-model="itemCtrl.pessoa_entrou" ng-options="porteiro as porteiro.nome disable when porteiro.id === passagem.pessoa_saiu.id for porteiro in porteirosCtrl.porteirosList track by porteiro.id">
				</select>
			</label>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
			<label>
				<div class="sc-label">Senha:</div>
				<input type="password" class="sc-input sc-input-default">
			</label>
		</div>
		<div class="clear"></div>
		<div class="sc-m-t-xl sc-border-t-dashed sc-border-gray-light sc-border-md">
			<div class="sc-text-blue sc-text-xxl fcol-xs-100 sc-m-t-sm sc-p-sm sc-p-l-lg">{{passagem.perfil.perfil}} - {{passagem.id}}</div>
	    <table ng-repeat="objeto in passagem.objetos" class="sc-table sc-fieldset col-xs-12">
	      <thead>
	        <tr>
	          <th>
	            <div class="sc-text-blue">
	              <b>{{objeto.categoria.label}}</b>
	            </div>
	          </th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><b>Nome</b></td>
	          <td class="align-right"><b>Qtd</b></td>
	        </tr>
	        <tr ng-repeat="item in objeto.itens">
	          <td>{{item.nome}}</td>
	          <td class="align-right">{{item.qtd}}</td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	  <div class="sc-fieldset flex-row sc-p-md">
		  <label>
		    <div class="sc-label">Observações:</div>
		    <div class="sc-text-md sc-text-black">{{passagem.obs}}</div>
		  </label>
		</div>
	</div>
	<div class="sc-modal-footer">
		<button class="sc-btn sc-btn-blue" ng-click="itemCtrl.passarServico(passagem)">Passar serviço</button>
		<button class="sc-btn" ng-click="itemCtrl.close()">Cancelar</button>
	</div>
</div>