<div class="sc-m-h-md sc-p-t-sm">
  <div class="sc-fieldset flex-row ng-animation-slider">
    <div class="col-xs-6 sc-p-l-sm">
      <div class="sc-text-gray sc-p-xs">Quem sai:
        <span class="sc-text-blue sc-p-l-lg">{{passagem.pessoa_saiu.nome}}</span>
      </div>
      <div class="sc-text-gray sc-p-xs">Quem entra:
        <span class="sc-text-blue sc-p-l-lg">{{passagem.pessoa_entrou.nome}}</span>
      </div>
      <div class="sc-text-gray sc-p-xs">Data e hora:
        <span class="sc-text-blue sc-p-l-lg">{{passagem.data | date: "dd/MM/yyyy" }}, às {{passagem.horario}}</span>
      </div>
    </div>
    <div class="flex-row col-xs-6">
      <div class="col-xs-auto" ng-if="notificar.params == 0">
        <div class="col-xs-auto">
          <label class="sc-text-red sc-text-sm">Marque ao menos um usuário!</label>
        </div>
        <div class="clear"></div>
      </div>
      <div class="fcol-xs-25 sc-text sc-dropdown sc-btn sc-btn-clean" ng-click="passagem.notificacoes.toggle()" style="max-height: 2em;">
        <i class="sc-icon sc-icon-carta-4"></i>Notificações
      </div>
      <div class="col-xs-4 align-self-center" ng-if="passagem.notificacoes.opened">
        <button class="sc-btn sc-btn-thin sc-btn-md sc-btn-blue" ng-click="notificar()">Notificar por e-mail</button>
      </div>
      <div class="sc-p-none sc-text-sm sc-p-t-md sc-m-h-md" ng-if="passagem.notificacoes.opened" ng-repeat="grupo in admCtrl.grupos">
        <div class="sc-label sc-text-blue">{{grupo.label}}
          <div class="sc-fieldset">
            <div ng-repeat="membro in grupo.membros">
              <input class="sc-checkbox sc-checkbox-gray" type="checkbox">
              <label class="sc-label">{{membro.user}} -</label>
              <label class="sc-text-gray">{{membro.email}} -</label>
              <label class="sc-text-gray" ng-click="passagemCtrl.abrirLog()">ver histórico</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="sc-m-h-md">
  <div class="sc-fieldset flex-row">
    <div class="fcol-xs-100 fcol-md-50 sc-p-r-md-md fcol-xs-auto">
      <div class="sc-text-gray sc-p-xs">Eu,
        <span class="sc-text-blue"> <b>{{passagem.pessoa_saiu.nome}}</b></span>, passo o posto de serviço para o(a)
        <span class="sc-text-blue"> <b>{{passagem.pessoa_entrou.nome}}</b></span>, de acordo com as informações abaixo:
      </div>
    </div>
    <div class="sc-text-blue sc-text-xxl fcol-xs-100 sc-p-sm sc-p-l-lg">{{passagem.perfil.perfil}}</div>
    <table ng-repeat="objeto in passagem.objetos" class="sc-table sc-m-h-lg sc-fieldset col-xs-12">
      <thead>
        <tr>
          <th>
            <div class="sc-text-blue">
              <b>{{objeto.categoria.label}}</b>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Nome</b></td>
          <td class="align-right"><b>Qtd</b></td>
        </tr>
        <tr ng-repeat="item in objeto.itens">
          <td>{{item.nome}}</td>
          <td class="align-right">{{item.qtd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="sc-fieldset flex-row sc-p-md sc-m-h-md">
  <label>
    <div class="sc-label">Observações:</div>
    <div class="sc-text-md sc-text-black">{{passagem.obs}}</div>
  </label>
</div>
<div class="clear"></div>