<div class="sc-m-h-md sc-p-t-sm">
  <div class="sc-fieldset flex-row ng-animation-slider">
    <div class="col-xs-6 sc-p-l-sm">
      <div class="sc-text-gray sc-p-xs">Quem sai:
        <span class="sc-text-blue sc-p-l-xs">{{passagem.pessoa_saiu.nome}}</span>
      </div>
      <div class="sc-text-gray sc-p-xs">Quem entra:
        <span class="sc-text-blue sc-p-l-xs">{{passagem.pessoa_entrou.nome}}</span>
      </div>
      <div class="sc-text-gray sc-p-xs">Cadastrado em:
        <span class="sc-text-blue sc-p-l-xs">{{passagem.data | date: "dd/MM/yyyy" }}, às {{passagem.data | date: 'mediumTime' }}</span>
      </div>
      <div ng-if="passagem.data_passagem" class="sc-text-gray sc-p-xs">Passagem feita em:
        <span class="sc-text-blue sc-p-l-xs">{{passagem.data_passagem | date: "dd/MM/yyyy" }}, às {{passagem.data_passagem | date: 'mediumTime' }}</span>
      </div>
    </div>
    <div class="flex-row col-xs-6">
      <div class="col-xs-auto clear" ng-if="viewCtrl.notifQtd">
        <div class="col-xs-auto">
          <label class="sc-text-red sc-text-sm sc-label clear sc-m-l-lg">Marque ao menos um usuário!</label>
        </div>
        <div class="clear"></div>
      </div>
      <div class="fcol-xs-25 sc-text sc-dropdown sc-btn sc-btn-clean" ng-click="passagem.notificacoes.toggle()" style="max-height: 2em;">
        <i class="sc-icon sc-icon-carta-4"></i>Notificações
      </div>
      <div class="col-xs-4 align-self-center" ng-if="passagem.notificacoes.opened">
        <button class="sc-btn sc-btn-thin sc-btn-md sc-btn-blue" ng-click="viewCtrl.notificar()">Notificar por e-mail
          <span ng-if="viewCtrl.notificarParams.length > 0" class="sc-badge sc-badge-fixed sc-bg-yellow">{{viewCtrl.notificarParams.length}}</span>
        </button>
      </div>
      <div class="sc-p-none sc-text-sm sc-p-t-md sc-m-h-md" ng-if="passagem.notificacoes.opened" ng-repeat="grupo in admCtrl.grupos">
        <div class="sc-label sc-text-blue">
          <div class="sc-label sc-cursor-pointer sc-m-o" ng-click="viewCtrl.setAllByGroup()" style="max-width: max-content;">{{grupo.label}}</div>
          <div class="sc-fieldset">
            <div ng-repeat="membro in grupo.membros">
              <span ng-click="viewCtrl.setUser(membro)">
                <input class="sc-checkbox sc-checkbox-gray" type="checkbox" ng-model="membro.checked">
                <label class="sc-label">{{membro.user}} -</label>
              </span>
              <label class="sc-text-gray">{{membro.email}} -</label>
              <label class="sc-text-gray" ng-click="passagemCtrl.abrirLog()">ver histórico</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="sc-m-h-md">
  <div class="sc-fieldset flex-row">
    <div class="fcol-xs-100 fcol-md-50 sc-p-r-md-md fcol-xs-auto">
      <div class="sc-text-gray sc-p-xs">Eu,
        <span class="sc-text-blue"> <b>{{passagem.pessoa_saiu.nome}}</b></span>, passo o posto de serviço para o(a)
        <span class="sc-text-blue"> <b>{{passagem.pessoa_entrou.nome}}</b></span>, de acordo com as informações abaixo:
      </div>
    </div>
    <div class="sc-text-blue sc-text-xxl fcol-xs-100 sc-p-sm sc-p-l-lg">{{passagem.perfil.nome}}</div>
    <table ng-repeat="objeto in passagem.objetos track by $index" class="sc-table sc-m-h-lg sc-fieldset col-xs-12">
      <thead>
        <tr>
          <th>
            <div class="sc-text-blue">
              <b>{{objeto.categoria.label}}</b>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Nome</b></td>
          <td class="align-right"><b>Qtd</b></td>
        </tr>
        <tr ng-repeat="item in objeto.itens track by $index">
          <td>{{item.nome}}</td>
          <td class="align-right">{{item.qtd}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="sc-fieldset flex-row sc-p-md sc-m-h-md">
  <label>
    <div class="sc-label">Observações:</div>
    <div class="sc-text-md sc-text-black">{{passagem.obs}}</div>
  </label>
</div>
<div class="clear"></div>