<div class="col-xs-12 sc-p-t-sm">
  <div class="sc-fieldset flex-row ng-animation-slider">
    <div class="col-xs-6 sc-p-l-sm">
      <div class="sc-text-gray sc-p-xs">Quem sai:
        <span class="sc-text-blue sc-p-l-lg">{{passagem.pessoa_saiu}}</span>
      </div>
      <div class="sc-text-gray sc-p-xs">Quem entra:
        <span class="sc-text-blue sc-p-l-lg">{{passagem.pessoa_entrou}}</span>
      </div>
      <div class="sc-text-gray sc-p-xs">Data e hora:
        <span class="sc-text-blue sc-p-l-lg">{{passagem.data | date: "dd/MM/yyyy" }}, às {{passagem.horario}}</span>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="sc-text sc-dropdown sc-btn sc-btn-clean" ng-click="passagem.notificacoes.toggle()">
        <span class="">
          <i class="sc-icon sc-icon-carta-4"></i>Notificações
        </span>
      </div>
      <div class="sc-p-none sc-p-t-md sc-m-h-md" ng-show="passagem.notificacoes.opened" ng-repeat="grupo in admCtrl.grupos">
        <div class="sc-label sc-text-blue">{{grupo.label}}
          <div class="sc-fieldset">
            <div ng-repeat="membro in grupo.membros">
              <input class="sc-checkbox sc-checkbox-gray" type="checkbox">
              <label class="sc-label">{{membro.user}} -</label>
              <label class="sc-text-gray" ng-click="passagemCtrl.abrirLog()">ver histórico</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="sc-p-md">
  <div class="sc-fieldset flex-row">
    <div class="fcol-xs-100 fcol-md-50 sc-p-r-md-md fcol-xs-auto">
      <div class="sc-text-gray sc-p-xs">Eu,
        <span class="sc-text-blue"> <b>{{passagem.pessoa_saiu}}</b></span>, passo o posto de serviço para o(a)
        <span class="sc-text-blue"> <b>{{passagem.pessoa_entrou}}</b></span>, de acordo com as informações abaixo:
      </div>
    </div>
    <div class="sc-text-blue sc-text-xxl fcol-xs-100">{{passagem.perfilName}}</div>
    <table ng-repeat="objeto in passagem.objetos" class="sc-table sc-m-h-lg sc-fieldset col-xs-12">
      <thead>
        <tr>
          <th>
            <div class="sc-text-blue">
              <b>{{objeto.categoria}}</b>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Nome</b></td>
          <td class="align-right" ng-if="objeto.categoria == 'Funcionamento'"><b>Qtd</b></td>
          <td ng-if="objeto.categoria == 'Acontecimentos'" class=""><b>Ocorrido</b></td>
          <td ng-if="objeto.categoria == 'Acontecimentos'" class="hidden-xs"><b>Local do ocorrido</b></td>
          <td ng-if="objeto.categoria == 'Empréstimos'" class=""><b>Ação</b></td>
          <td ng-if="objeto.categoria == 'Empréstimos'" class="hidden-xs"><b>Unidade/Pessoa</b></td>
          <td ng-if="objeto.categoria == 'Empréstimos'" class="hidden-xs"><b>Tipo</b></td>
        </tr>
        <tr ng-repeat="registro in objeto.itens">
          <td>{{registro.nome}}</td>
          <td class="align-right" ng-if="objeto.categoria == 'Funcionamento'">{{registro.qtd}}</td>
          <td ng-if="objeto.categoria == 'Acontecimentos'" class="">{{registro.ocorrido}}</td>
          <td ng-if="objeto.categoria == 'Acontecimentos'" class="hidden-xs">{{registro.local}}</td>
          <td ng-if="objeto.categoria == 'Empréstimos'" class="">{{registro.acao}}</td>
          <td ng-if="objeto.categoria == 'Empréstimos'" class="hidden-xs">{{registro.unidade_pessoa}}</td>
          <td ng-if="objeto.categoria == 'Empréstimos'" class="hidden-xs">{{registro.tipoPessoa}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="sc-fieldset sc-p-lg">
  <label>
    <div class="sc-label">Observações:</div>
    <textarea class="sc-input-default sc-input-block" rows="5" cols="30" value="{{passagem.obs}}"></textarea>
  </label>
</div>