vm.salvar = function() {
  vm.data = new Date();
  if (vm.new && !vm.params.edit.opened) {
    vm.listCtrl.list.push({
      id: vm.listCtrl.list.length+1,
      pessoa_entrou: vm.params.pessoa_entrou,
      pessoa_saiu: vm.params.pessoa_saiu,
      data: vm.data,
      data_passagem: null,
      status: { label: 'Pendente', color: 'yellow' },
      perfil: vm.params.perfil,
      objetos: vm.params.objetos,
      obs: vm.params.obs,
      disabled: false,
    })
  } else if (vm.itemCtrl.duplicar && !vm.params.edit.opened) {
    vm.params.status = { label: 'Pendente', color: 'yellow' };
    vm.params.id = vm.listCtrl.list.length+1;
    vm.listCtrl.list.push(vm.params)
    console.log(vm.params)
    console.log(vm.listCtrl.list)
  } else {
    angular.extend(vm.listCtrl.list[vm.params.id-1], vm.params)
    vm.params.edit.opened = false
  };
};

vm.salvar_passar = function() {
  vm.data = new Date();
  if (vm.new && !vm.params.edit.opened) {
    vm.listCtrl.list.push({
      id: vm.listCtrl.list.length+1,
      pessoa_entrou: vm.params.pessoa_entrou,
      pessoa_saiu: vm.params.pessoa_saiu,
      data: vm.data,
      data_passagem: vm.data,
      status: { label: 'Realizada', color: 'yellow' },
      perfil: vm.params.perfil,
      objetos: vm.params.objetos,
      obs: vm.params.obs,
      disabled: false,
    })
  } else if (vm.itemCtrl.duplicar) {
    vm.params.status = { label: 'Realizada', color: 'green' };
    vm.params.id = vm.listCtrl.list.length+1;
    vm.listCtrl.list.push(vm.params)
    console.log(vm.params)
    console.log(vm.listCtrl.list)
  } else {
    angular.extend(vm.listCtrl.list[vm.params.id-1], vm.params)
  };
};