init: function(passagem) {
	obj = passagem || {}

	// usar alguma coias para copiar o obj 'passagem'
	this.newRecord = !obj.id

	if (this.newRecord) {
		$s.listCtrl.list.push(obj)
	} else {
		this.params = obj
	}
},
==========================================================================

  function carregarCssJs(obj) {
    return {
      load: [ '$q', '$rootScope', function($q, $rootScope) {
        var head = document.getElementsByTagName('head')[0];
        var deferred = $q.defer()

        createElementsBy = function(moduleList, tagName, moduleType, fun){
          if (!moduleList || moduleList.length == 0){ return }

          $('head '+tagName+'[id="'+moduleType+'"]').remove();//remove dentro do head o que tiver com link/script (tagname) e id="moduleType"(css ou js)
          moduleList.forEach(function(moduleKey){
            var el = document.createElement(tagName);

            el.id = moduleType; //js/css

            var path = "/"+moduleType+"/"+moduleKey+"."+moduleType; //css/produto.css

            switch(tagName){
              case 'link':
                el.rel = "stylesheet";
                el.href = path; //css/produto.css
              case 'script':
                el.src = path; // /js/produto.js
            }

            head.insertBefore(el, head.lastChild);
          });
        };

        if (obj.js && obj.js.length > 0)   { createElementsBy(obj.js,  'script',  'js'); }
        if (obj.css && obj.css.length > 0) { createElementsBy(obj.css,   'link', 'css'); }

        setTimeout(() => {
          $rootScope.$apply(function(){ deferred.resolve(); })
        }, 30)

        return deferred.promise;
      }]
    }
  }

  $routeProvider

    .when('/form', {
      controller : 'PassagemServico::FormCtrl',
      resolve: carregarCssJs({
        js: ['formCtrl'],
      })
    });